body{
    background-color: rgb(128, 133, 204);
    text-align: center;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: rgb(255, 217, 0);
    text-decoration: underline;
}

a:hover {
    color: green;
    text-decoration: line;
}

main{
    text-align: left;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h2{
    text-align: center;
}

figure{
    text-align:center;
    font-style: italic;
}
ul{
    text-align: left;
}

li{
    text-align: left;
}

footer{
    text-align: center;
}

