body{
    background-color: rgb(128, 133, 204);
    text-align: center;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: rgb(255, 217, 0);
    text-decoration: underline;
}

a:hover {
    color: green;
    text-decoration: line;
}

main{
    text-align: left;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h2{
    text-align: center;
}

figure{
    text-align:center;
    font-style: italic;
}
ul{
    text-align: left;
}

li{
    text-align: left;
}

footer{
    text-align: center;
}
table{
    margin:auto;
    background-color: rgb(255, 234, 113);
}
th, td{
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}
caption{
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 1.5em;

}

@media (max-width: 1024px) {
  body { font-size: 17px; }
  main { width: 95%; max-width: 1024px; }  
  table { width: 95%; }
}


@media (max-width: 720px) {
  body { font-size: 16px; text-align: left; }
  main { width: 95%; max-width: 100%; }  
  table { width: 100%; font-size: 14px; }
  th, td { padding: 6px; }
}