<link rel="stylesheet" href="styles/default.css">
<nav>
            <a href="https://webpages.charlotte.edu/tclayto4/">Charlotte.edu</a>
            ||
            <a href="https://github.com/tclayto4">Github</a>
            ||
            <a href="https://tclayto4.github.io/itis3135/">Github.io</a>
            ||
            <a href="https://www.freecodecamp.org/thomasclayton">freeCodeCamp</a>
            ||
            <a href="https://www.codecademy.com/profiles/ThomasSClayton">Codecademy</a>
            ||
            <a href="https://www.linkedin.com/in/thomas-clayton-6bb631381/">LinkedIn</a>
            ||
            <a href="thirstycheetah/about.html">Thirsty Cheetah</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="project_overview.html">Project Overview</a>
            ||
            <a href="peerevaulation1.html">Peer Evaluation #1</a>
            ||
            <a href="peerevaluation2.html">Peer Evaluation #2</a>
    </nav>
    <p>Page Built by <a href="thomasclaytondesigns.com">Clayton LLC ©2025</a></p>